<div class="container">
  <h1>会員一覧</h1>

  <!-- 検索フォーム -->
  <%= form_with url: admin_customers_path, method: :get, local: true, class: "row g-2 mb-4" do %>
    <div class="col-auto">
      <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "ひらがなで名前を検索（例：たなか）" %>
    </div>
    <div class="col-auto">
      <%= submit_tag "検索", class: "btn btn-primary" %>
    </div>
  <% end %>


  <!-- 会員テーブル -->
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>電話番号</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to admin_customer_path(customer.id) do %>
            <%= customer.last_name %> <%= customer.first_name %>
          <% end %></td>
          <td><%= customer.email %></td>
          <td><%= customer.telephone_number %></td>
          <td>
            <% case customer.status %>
            <% when "active" %>
              <h4 class="text-success">有効</h4>
            <% when "suspended" %>
              <h4 class="text-warning">休会中</h4>
            <% when "inactive" %>
              <h4 class="text-danger">無効</h4>
            <% end %>
          </td>
        </tr>

        <!-- お子さんの情報 -->
        <tr>
          <td colspan="5">
            <strong>お子さんの名前:</strong>
            <% if customer.children.present? %>
              <ul>
                <% customer.children.each do |child| %>
                  <li><%= child.last_name %> <%= child.first_name %></li>
                <% end %>
              </ul>
            <% else %>
              <span>登録されているお子さんはいません。</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
