<!-- app/views/public/offs/show_absences.html.erb -->

<h1>お休み確認ページ</h1>
<p>以下の日付でお休みしています:</p>
<h3><%= @child.last_name %> <%= @child.first_name %>さんのお休み一覧</h3>

<ul class="offs-list">
  <% @offs.each do |off| %>
    <% if off.off_month.present? %>
      <li class="off-item">
        <span class="off-date"><%= off.off_month.strftime("%m月 %d日") %></span>

        <% if off.flag == 2 %>
          <span class="badge badge-danger">期限切れ</span>
        <% elsif off.transfer_registered? %>
          <% transfer = off.registered_transfer %>
          <span class="badge badge-success">
            振替済み (振替日: <%= transfer.transfer_date.strftime("%m月 %d日") %>)
          </span>
        <% else %>
          <span class="inline-buttons">
            <%= link_to '変更する', edit_absence_off_path(off), class: "btn btn-sm btn-warning" %>
            <%= button_to off_path(off),
               method: :delete,
               form_class: "inline-form",
               data: { confirm: "本当に削除しますか？" } do %>
             <span class="btn btn-sm btn-danger">削除</span>
           <% end %>
          </span>
       <% end %>
      </li>
    <% end %>
  <% end %>
</ul>


<%= link_to '戻る', customers_show_path %>

