<div id="child-edit-page" class="container">
  <h2>会員様情報編集</h2>

  <%= form_with model: @child, url: child_path, method: :patch do |f| %>
    <div class="field">
      <%= f.label :姓 %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    </div>

    <div class="field">
      <%= f.label :名 %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>

    <div class="field">
      <%= f.label :姓カナ %><br />
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :名カナ %><br />
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div>

    <div class="field">
     <%= label_tag :contract_count, "契約回数" %><br />
     <p>※契約曜日を変更する場合はプール受付にて手続きが必要です。</p>
     <%= select_tag :contract_count,
          options_for_select(["週1回", "週2回"], @child.contact_dey2.present? ? "週2回" : "週1回"),
          id: "contract_count" %>
    </div>

    <div class="field">
     <%= f.label :契約曜日1 %><br />
     <%= f.select :contact_dey1,
               [["水曜日", "水曜日"], ["木曜日", "木曜日"], ["土曜日", "土曜日"], ["日曜日", "日曜日"]],
               { include_blank: "曜日選択" },
               { selected: @child.contact_dey1 } %>
    </div>

    <div class="field">
      <%= f.label :契約時間1 %><br />
      <%= f.select :contact_time1, [], include_blank: "時間選択", id: "child_contact_time1" %>
    </div>

    <div class="field" id="contact-dey2-field" style="<%= @child.contact_dey2.present? ? '' : 'display:none;' %>">
     <%= f.label :契約曜日2 %><br />
     <%= f.select :contact_dey2,
               [["水曜日", "水曜日"], ["木曜日", "木曜日"], ["土曜日", "土曜日"], ["日曜日", "日曜日"]],
               { include_blank: "曜日選択" },
               { selected: @child.contact_dey2 } %>
    </div>

    <div class="field" id="contact-time2-field" style="display:none;">
      <%= f.label :契約時間2 %><br />
      <%= f.select :contact_time2, [], include_blank: "時間選択", id: "child_contact_time2" %>
    </div>


    <div class="field">
      <%= f.label :クラス %><br />
      <%= f.select :level, [["カニ", "カニ"], ["ラッコ", "ラッコ"], ["イルカ", "イルカ"], ["黄星1", "黄星1"], ["黄星2", "黄星2"], ["黄星3", "黄星3"], ["黄星4", "黄星4"], ["青星1", "青星1"], ["青星2", "青星2"], ["青星3", "青星3"], ["青星4", "青星4"], ["赤星1", "赤星1"], ["赤星2", "赤星2"], ["赤星3", "赤星3"], ["赤星4", "赤星4"], ["ピンク星1", "ピンク星1"], ["ピンク星2", "ピンク星2"], ["ピンク星3", "ピンク星3"], ["ピンク星4", "ピンク星4"],["AS", "AS"]], 
                   { include_blank: "クラス選択" } %>
    </div>

    <div class="field">
      <%= f.label :電話番号（ハイフンなし） %><br />
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
    </div>

    <div class="row">
      <div class="actions">
        <%= f.submit "編集内容を保存" %>
      </div>
    </div>
  <% end %>

  <!-- 削除ボタン -->
  <div class="delete-actions">
    <%= button_to 'お子さん情報を削除する', child_path(@child), 
                  method: :delete, 
                  data: { confirm: '本当に削除しますか？' }, 
                  class: 'btn btn-danger' %>
  </div>
</div>

<%= link_to '戻る', customers_show_path %>
